.about-section {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 10rem;
}
.description {
    width: 50%;
}
.description>hr {
    display: none;
}
.about-header {
    text-align: center;
    font-size: 54px;
}
.about-me-image { 
    height: 250px;
    width: 250px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
}
.about-me-image img {
    margin-top: -1150px;
    margin-left: -1900px;
    zoom: 10%;
}
.about-paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.svg {
    width: 50%;
}
.github-span, .javascript, .html, .kotlin, .java, .css, .gitlab, .c, .vs-code, .xcode, .eclipse, .python, .php, .cpp, .bootstrap, .sql, .firebase, .workbench, .react, .terminal, .springboot, .intelij {
    position: absolute;
}
.github-span {
    margin-left: -2rem;
}
.terminal {
    margin-top: 1rem;
    margin-left: 12rem;
}
.react {
    margin-top: 1rem;
    margin-left: 32rem;
}
/* New Line */
.javascript {
    margin-top: 8rem;
    margin-left: -4rem;
}
.sql {
    margin-top: 22rem;
    margin-left: 30rem;
}
.intelij {
    margin-top: 8rem;
    margin-left: 25rem;
}
/* New Line */ 
.html {
    margin-top: 16rem;
    margin-left: 0rem;
}
.python {
    margin-top: 15rem;
    margin-left: 13rem;
}
.springboot {
    margin-top: 15rem;
    margin-left: 27rem;
}
/* New Line */ 
.cpp {
    margin-top: 22rem;
    margin-left: -4rem;
}
.kotlin {
    margin-top: 22rem;
    margin-left: 7rem;
}
.php {
    margin-top: 24rem;
    margin-left: 19rem;
}
.workbench {
    margin-top: 8rem;
    margin-left: 12rem;
}
/* New Line */ 
.bootstrap {
    margin-top: 32rem;
    margin-left: -1rem;
}
.vs-code {
    margin-top: 32rem;
    margin-left: 14rem;
}
.eclipse {
    margin-top: 32rem;
    margin-left: 28rem;
}
/* New Line */
.css {
    margin-top: 40rem;
    left: 5rem;
}
.gitlab {
    margin-top: 40rem;
    left: 17rem;
}
.c {
    margin-top: 40rem;
    left: 30rem;
}
.java {
    margin-top: 40rem;
    left: 44rem;
}
.xcode {
    margin-top: 40rem;
    left: 60rem;
}
.firebase {
    margin-top: 40rem;
    margin-left: 29rem;
}
.github-svg, .javascript-svg, .html-svg, .kotlin-svg, .css-svg, .gitlab-svg, .c-svg, .vs-code-svg, .xcode-svg, .cpp-svg, .bootstrap-svg, .react-svg, .terminal-svg, .springboot-svg, .intelij-svg {
    transform: scale(.75);
}
/*
.java-svg, .php-svg, .sql-svg, .firebase-svg, .workbench-svg {
    transform: scale(.75);
}
*/
@media (max-width: 890px) {
    .about-section {
        display: block;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .description {
        width: 100%;
    }
    .description>hr {
        display: block;
        width: 50%;
        margin-bottom: 1rem;
    }
    .about-header {
        padding-top: 5rem;
    }
    .about-paragraph {
        margin-bottom: 5rem;
        line-height: 1.5;
    }
    .tech {
        display: none;
    }
    .svg {
        display: none;
    }
}
@media (max-width: 390px) {
    .about-header {
        padding-top: 1rem;
    }
}