.social {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social>a {
    text-decoration: none;
}
.email {
    color: gray;
}
.about-section {
    background-color: white;
    padding-bottom: 1rem;
}
.about-header {
    text-align: center;
    font-size: 54px;
}
.about-paragraph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1rem;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
}
