.project-section {
    background-color: rgb(230, 227, 227);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.project-header {
    text-align: center;
}
.projects-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.linktree-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 50%;
    padding: 1rem;
    border-radius: 2rem;
 
}
.project-div {
    background-color: rgb(223, 230, 255);
    width: 50%;
    border-radius: 1rem;
}
.project-text {
    text-align: center;
    padding: 15px 5px;
    background-color: white;
    margin: 1rem 2rem 0rem 2rem;
    border-radius: 5rem;
}
@media (max-width: 890px) {
    .project-div {
        width: 100%; /* Adjust width for two per row */
    }
}