.social {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social>a {
    text-decoration: none;
}
.email {
    color: gray;
}
.project-section {
    background-color: rgb(230, 227, 227);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.project-header {
    text-align: center;
}
.projects-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.linktree-link, .cancun-link {
    display: inline-block;
    text-align: center;
    padding: 1rem 0;
    border-radius: 1rem;
}
.linktree-link .linktree-site {
    pointer-events: none;
}
.cancun-link .cancun-site {
    pointer-events: none;
}
/*
.cancun-site {
    -webkit-transform: scale(.75);
    height: 150px;
    width: auto;
}
#linktree {
    -webkit-transform: scale(.75);
    height: 150px;
    width: auto;
}
*/
.linktree-site, .cancun-site  {
    height: 150px;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 5px;
    text-align: center;
}
.project-div {
    background-color: rgb(223, 230, 255);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 1rem  black inset;
}
.project-text {
    text-align: center;
    padding: 15px 5px;
    background-color: white;
    margin: -1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    font-size: 14px;
}
@media (max-width: 890px) {
    .project-div {
        width: 100%; /* Adjust width for two per row */
    }
    .linktree-site {
        width: 75%;
    }
}