.work-section {
    /*
    background-color: rgb(45, 221, 162);
    */
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.work-section>h2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.work-section>hr {
    width: 25%;
}
.work-div {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
}
.job-title {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 0;
}
.job-date {
    text-align: center;
    color: rgb(76, 76, 76);
}
li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 890px) {
    .work-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .work-section>h3 {
        text-align: unset;
        margin-left: 1rem;
        margin-right: 0;
    }
    .work-section>p {
        text-align: unset;
        margin-left: 1rem;
        margin-right: 0;
    } 
    .work-section>hr {
        width: 50%;
    }
    .work-div {
        width: 100%;
    }
    li {

    }
    .job-title {
        font-size: 16px;
        margin-top: 2rem;
    }
    .job-date {
        font-size: 14px;
    }
    .job-description {
        font-size: 12px;
    }
}